.container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  font-weight: 600;
  color: #3f51b5;
}

.input {
  width: 100%;
  margin-bottom: 20px;
}